@media (min-width: 1280px) {
    .x .c1-f {
      font-size: 16px
    }
  }

  @media (min-width: 1280px) {
    .x .c1-14 {
      width: 1160px
    }
  }

  @media (min-width: 1280px) {
    .x .c1-27 {
      font-size: 32px
    }
  }

  @media (min-width: 1280px) {
    .x .c1-2j {
      font-size: 44px
    }
  }

  @media (min-width: 1280px) {
    .x .c1-2o {
      font-size: 22px
    }
  }

  @media (min-width: 1280px) {
    .x .c1-3l {
      font-size: 14px
    }
  }