@media (min-width: 1536px) {
    .x .c1-g {
      font-size: 18px
    }
  }

  @media (min-width: 1536px) {
    .x .c1-15 {
      width: 1280px
    }
  }

  @media (min-width: 1536px) {
    .x .c1-28 {
      font-size: 36px
    }
  }

  @media (min-width: 1536px) {
    .x .c1-2k {
      font-size: 48px
    }
  }

  @media (min-width: 1536px) {
    .x .c1-2p {
      font-size: 24px
    }
  }

  @media (min-width: 1536px) {
    .x .c1-3m {
      font-size: 16px
    }
  }