@media (max-width: 450px) {
    .x .c1-76 {
      background-image: url("https://img1.wsimg.com/isteam/ip/b8d87459-e664-492d-8c62-26702ecedf24/098d8994-0aa0-49d2-89f3-4f8955a77ecf.jpeg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:450,m")
    }
  }

  @media (max-width: 450px) and (-webkit-min-device-pixel-ratio: 2),
  (max-width: 450px) and (min-resolution: 192dpi) {
    .x .c1-77 {
      background-image: url("https://img1.wsimg.com/isteam/ip/b8d87459-e664-492d-8c62-26702ecedf24/098d8994-0aa0-49d2-89f3-4f8955a77ecf.jpeg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:900,m")
    }
  }

  @media (max-width: 450px) and (-webkit-min-device-pixel-ratio: 3),
  (max-width: 450px) and (min-resolution: 288dpi) {
    .x .c1-78 {
      background-image: url("https://img1.wsimg.com/isteam/ip/b8d87459-e664-492d-8c62-26702ecedf24/098d8994-0aa0-49d2-89f3-4f8955a77ecf.jpeg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:1350,m")
    }
  }

  @media (min-width: 451px) and (max-width: 767px) {
    .x .c1-79 {
      background-image: url("https://img1.wsimg.com/isteam/ip/b8d87459-e664-492d-8c62-26702ecedf24/098d8994-0aa0-49d2-89f3-4f8955a77ecf.jpeg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:767,m")
    }
  }

  @media (min-width: 451px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2),
  (min-width: 451px) and (max-width: 767px) and (min-resolution: 192dpi) {
    .x .c1-7a {
      background-image: url("https://img1.wsimg.com/isteam/ip/b8d87459-e664-492d-8c62-26702ecedf24/098d8994-0aa0-49d2-89f3-4f8955a77ecf.jpeg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:1534,m")
    }
  }

  @media (min-width: 451px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 3),
  (min-width: 451px) and (max-width: 767px) and (min-resolution: 288dpi) {
    .x .c1-7b {
      background-image: url("https://img1.wsimg.com/isteam/ip/b8d87459-e664-492d-8c62-26702ecedf24/098d8994-0aa0-49d2-89f3-4f8955a77ecf.jpeg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:2301,m")
    }
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    .x .c1-7c {
      background-image: url("https://img1.wsimg.com/isteam/ip/b8d87459-e664-492d-8c62-26702ecedf24/098d8994-0aa0-49d2-89f3-4f8955a77ecf.jpeg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:1023,m")
    }
  }

  @media (min-width: 768px) and (max-width: 1023px) and (-webkit-min-device-pixel-ratio: 2),
  (min-width: 768px) and (max-width: 1023px) and (min-resolution: 192dpi) {
    .x .c1-7d {
      background-image: url("https://img1.wsimg.com/isteam/ip/b8d87459-e664-492d-8c62-26702ecedf24/098d8994-0aa0-49d2-89f3-4f8955a77ecf.jpeg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:2046,m")
    }
  }

  @media (min-width: 768px) and (max-width: 1023px) and (-webkit-min-device-pixel-ratio: 3),
  (min-width: 768px) and (max-width: 1023px) and (min-resolution: 288dpi) {
    .x .c1-7e {
      background-image: url("https://img1.wsimg.com/isteam/ip/b8d87459-e664-492d-8c62-26702ecedf24/098d8994-0aa0-49d2-89f3-4f8955a77ecf.jpeg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:3069,m")
    }
  }

  @media (min-width: 1024px) and (max-width: 1279px) {
    .x .c1-7f {
      background-image: url("https://img1.wsimg.com/isteam/ip/b8d87459-e664-492d-8c62-26702ecedf24/098d8994-0aa0-49d2-89f3-4f8955a77ecf.jpeg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:1279,m")
    }
  }

  @media (min-width: 1024px) and (max-width: 1279px) and (-webkit-min-device-pixel-ratio: 2),
  (min-width: 1024px) and (max-width: 1279px) and (min-resolution: 192dpi) {
    .x .c1-7g {
      background-image: url("https://img1.wsimg.com/isteam/ip/b8d87459-e664-492d-8c62-26702ecedf24/098d8994-0aa0-49d2-89f3-4f8955a77ecf.jpeg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:2558,m")
    }
  }

  @media (min-width: 1024px) and (max-width: 1279px) and (-webkit-min-device-pixel-ratio: 3),
  (min-width: 1024px) and (max-width: 1279px) and (min-resolution: 288dpi) {
    .x .c1-7h {
      background-image: url("https://img1.wsimg.com/isteam/ip/b8d87459-e664-492d-8c62-26702ecedf24/098d8994-0aa0-49d2-89f3-4f8955a77ecf.jpeg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:3837,m")
    }
  }

  @media (min-width: 1280px) and (max-width: 1535px) {
    .x .c1-7i {
      background-image: url("https://img1.wsimg.com/isteam/ip/b8d87459-e664-492d-8c62-26702ecedf24/098d8994-0aa0-49d2-89f3-4f8955a77ecf.jpeg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:1535,m")
    }
  }

  @media (min-width: 1280px) and (max-width: 1535px) and (-webkit-min-device-pixel-ratio: 2),
  (min-width: 1280px) and (max-width: 1535px) and (min-resolution: 192dpi) {
    .x .c1-7j {
      background-image: url("https://img1.wsimg.com/isteam/ip/b8d87459-e664-492d-8c62-26702ecedf24/098d8994-0aa0-49d2-89f3-4f8955a77ecf.jpeg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:3070,m")
    }
  }

  @media (min-width: 1280px) and (max-width: 1535px) and (-webkit-min-device-pixel-ratio: 3),
  (min-width: 1280px) and (max-width: 1535px) and (min-resolution: 288dpi) {
    .x .c1-7k {
      background-image: url("https://img1.wsimg.com/isteam/ip/b8d87459-e664-492d-8c62-26702ecedf24/098d8994-0aa0-49d2-89f3-4f8955a77ecf.jpeg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:4605,m")
    }
  }

  @media (min-width: 1536px) and (max-width: 1920px) {
    .x .c1-7l {
      background-image: url("https://img1.wsimg.com/isteam/ip/b8d87459-e664-492d-8c62-26702ecedf24/098d8994-0aa0-49d2-89f3-4f8955a77ecf.jpeg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:1920,m")
    }
  }

  @media (min-width: 1536px) and (max-width: 1920px) and (-webkit-min-device-pixel-ratio: 2),
  (min-width: 1536px) and (max-width: 1920px) and (min-resolution: 192dpi) {
    .x .c1-7m {
      background-image: url("https://img1.wsimg.com/isteam/ip/b8d87459-e664-492d-8c62-26702ecedf24/098d8994-0aa0-49d2-89f3-4f8955a77ecf.jpeg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:3840,m")
    }
  }

  @media (min-width: 1536px) and (max-width: 1920px) and (-webkit-min-device-pixel-ratio: 3),
  (min-width: 1536px) and (max-width: 1920px) and (min-resolution: 288dpi) {
    .x .c1-7n {
      background-image: url("https://img1.wsimg.com/isteam/ip/b8d87459-e664-492d-8c62-26702ecedf24/098d8994-0aa0-49d2-89f3-4f8955a77ecf.jpeg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:5760,m")
    }
  }

  @media (min-width: 1921px) {
    .x .c1-7o {
      background-image: url("https://img1.wsimg.com/isteam/ip/b8d87459-e664-492d-8c62-26702ecedf24/098d8994-0aa0-49d2-89f3-4f8955a77ecf.jpeg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:100%25")
    }
  }

  @media (min-width: 1921px) and (-webkit-min-device-pixel-ratio: 2),
  (min-width: 1921px) and (min-resolution: 192dpi) {
    .x .c1-7p {
      background-image: url("https://img1.wsimg.com/isteam/ip/b8d87459-e664-492d-8c62-26702ecedf24/098d8994-0aa0-49d2-89f3-4f8955a77ecf.jpeg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:100%25")
    }
  }

  @media (min-width: 1921px) and (-webkit-min-device-pixel-ratio: 3),
  (min-width: 1921px) and (min-resolution: 288dpi) {
    .x .c1-7q {
      background-image: url("https://img1.wsimg.com/isteam/ip/b8d87459-e664-492d-8c62-26702ecedf24/098d8994-0aa0-49d2-89f3-4f8955a77ecf.jpeg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:100%25")
    }
  }

  @media (max-width: 450px) {
    .x .c1-9i {
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.24) 0%, rgba(0, 0, 0, 0.24) 100%), url("https://img1.wsimg.com/isteam/stock/11252/:/rs=w:450,m")
    }
  }

  @media (max-width: 450px) and (-webkit-min-device-pixel-ratio: 2),
  (max-width: 450px) and (min-resolution: 192dpi) {
    .x .c1-9j {
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.24) 0%, rgba(0, 0, 0, 0.24) 100%), url("https://img1.wsimg.com/isteam/stock/11252/:/rs=w:900,m")
    }
  }

  @media (max-width: 450px) and (-webkit-min-device-pixel-ratio: 3),
  (max-width: 450px) and (min-resolution: 288dpi) {
    .x .c1-9k {
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.24) 0%, rgba(0, 0, 0, 0.24) 100%), url("https://img1.wsimg.com/isteam/stock/11252/:/rs=w:1350,m")
    }
  }

  @media (min-width: 451px) and (max-width: 767px) {
    .x .c1-9l {
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.24) 0%, rgba(0, 0, 0, 0.24) 100%), url("https://img1.wsimg.com/isteam/stock/11252/:/rs=w:767,m")
    }
  }

  @media (min-width: 451px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2),
  (min-width: 451px) and (max-width: 767px) and (min-resolution: 192dpi) {
    .x .c1-9m {
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.24) 0%, rgba(0, 0, 0, 0.24) 100%), url("https://img1.wsimg.com/isteam/stock/11252/:/rs=w:1534,m")
    }
  }

  @media (min-width: 451px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 3),
  (min-width: 451px) and (max-width: 767px) and (min-resolution: 288dpi) {
    .x .c1-9n {
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.24) 0%, rgba(0, 0, 0, 0.24) 100%), url("https://img1.wsimg.com/isteam/stock/11252/:/rs=w:2301,m")
    }
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    .x .c1-9o {
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.24) 0%, rgba(0, 0, 0, 0.24) 100%), url("https://img1.wsimg.com/isteam/stock/11252/:/rs=w:1023,m")
    }
  }

  @media (min-width: 768px) and (max-width: 1023px) and (-webkit-min-device-pixel-ratio: 2),
  (min-width: 768px) and (max-width: 1023px) and (min-resolution: 192dpi) {
    .x .c1-9p {
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.24) 0%, rgba(0, 0, 0, 0.24) 100%), url("https://img1.wsimg.com/isteam/stock/11252/:/rs=w:2046,m")
    }
  }

  @media (min-width: 768px) and (max-width: 1023px) and (-webkit-min-device-pixel-ratio: 3),
  (min-width: 768px) and (max-width: 1023px) and (min-resolution: 288dpi) {
    .x .c1-9q {
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.24) 0%, rgba(0, 0, 0, 0.24) 100%), url("https://img1.wsimg.com/isteam/stock/11252/:/rs=w:3069,m")
    }
  }

  @media (min-width: 1024px) and (max-width: 1279px) {
    .x .c1-9r {
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.24) 0%, rgba(0, 0, 0, 0.24) 100%), url("https://img1.wsimg.com/isteam/stock/11252/:/rs=w:1279,m")
    }
  }

  @media (min-width: 1024px) and (max-width: 1279px) and (-webkit-min-device-pixel-ratio: 2),
  (min-width: 1024px) and (max-width: 1279px) and (min-resolution: 192dpi) {
    .x .c1-9s {
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.24) 0%, rgba(0, 0, 0, 0.24) 100%), url("https://img1.wsimg.com/isteam/stock/11252/:/rs=w:2558,m")
    }
  }

  @media (min-width: 1024px) and (max-width: 1279px) and (-webkit-min-device-pixel-ratio: 3),
  (min-width: 1024px) and (max-width: 1279px) and (min-resolution: 288dpi) {
    .x .c1-9t {
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.24) 0%, rgba(0, 0, 0, 0.24) 100%), url("https://img1.wsimg.com/isteam/stock/11252/:/rs=w:3837,m")
    }
  }

  @media (min-width: 1280px) and (max-width: 1535px) {
    .x .c1-9u {
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.24) 0%, rgba(0, 0, 0, 0.24) 100%), url("https://img1.wsimg.com/isteam/stock/11252/:/rs=w:1535,m")
    }
  }

  @media (min-width: 1280px) and (max-width: 1535px) and (-webkit-min-device-pixel-ratio: 2),
  (min-width: 1280px) and (max-width: 1535px) and (min-resolution: 192dpi) {
    .x .c1-9v {
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.24) 0%, rgba(0, 0, 0, 0.24) 100%), url("https://img1.wsimg.com/isteam/stock/11252/:/rs=w:3070,m")
    }
  }

  @media (min-width: 1280px) and (max-width: 1535px) and (-webkit-min-device-pixel-ratio: 3),
  (min-width: 1280px) and (max-width: 1535px) and (min-resolution: 288dpi) {
    .x .c1-9w {
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.24) 0%, rgba(0, 0, 0, 0.24) 100%), url("https://img1.wsimg.com/isteam/stock/11252/:/rs=w:4605,m")
    }
  }

  @media (min-width: 1536px) and (max-width: 1920px) {
    .x .c1-9x {
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.24) 0%, rgba(0, 0, 0, 0.24) 100%), url("https://img1.wsimg.com/isteam/stock/11252/:/rs=w:1920,m")
    }
  }

  @media (min-width: 1536px) and (max-width: 1920px) and (-webkit-min-device-pixel-ratio: 2),
  (min-width: 1536px) and (max-width: 1920px) and (min-resolution: 192dpi) {
    .x .c1-9y {
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.24) 0%, rgba(0, 0, 0, 0.24) 100%), url("https://img1.wsimg.com/isteam/stock/11252/:/rs=w:3840,m")
    }
  }

  @media (min-width: 1536px) and (max-width: 1920px) and (-webkit-min-device-pixel-ratio: 3),
  (min-width: 1536px) and (max-width: 1920px) and (min-resolution: 288dpi) {
    .x .c1-9z {
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.24) 0%, rgba(0, 0, 0, 0.24) 100%), url("https://img1.wsimg.com/isteam/stock/11252/:/rs=w:5760,m")
    }
  }

  @media (min-width: 1921px) {
    .x .c1-a0 {
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.24) 0%, rgba(0, 0, 0, 0.24) 100%), url("https://img1.wsimg.com/isteam/stock/11252/:/rs=w:100%25")
    }
  }

  @media (min-width: 1921px) and (-webkit-min-device-pixel-ratio: 2),
  (min-width: 1921px) and (min-resolution: 192dpi) {
    .x .c1-a1 {
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.24) 0%, rgba(0, 0, 0, 0.24) 100%), url("https://img1.wsimg.com/isteam/stock/11252/:/rs=w:100%25")
    }
  }

  @media (min-width: 1921px) and (-webkit-min-device-pixel-ratio: 3),
  (min-width: 1921px) and (min-resolution: 288dpi) {
    .x .c1-a2 {
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.24) 0%, rgba(0, 0, 0, 0.24) 100%), url("https://img1.wsimg.com/isteam/stock/11252/:/rs=w:100%25")
    }
  }
</style>
<style data-glamor="cxs-xs-sheet">
  @media (max-width: 767px) {
    .x .c1-m {
      padding-top: 40px
    }
  }

  @media (max-width: 767px) {
    .x .c1-n {
      padding-bottom: 40px
    }
  }

  @media (max-width: 767px) {
    .x .c1-1d {
      width: 100%
    }
  }

  @media (max-width: 767px) {
    .x .c1-1e {
      display: flex
    }
  }

  @media (max-width: 767px) {
    .x .c1-1f {
      justify-content: center
    }
  }

  @media (max-width: 767px) {
    .x .c1-7x {
      padding-left: 24px
    }
  }

  @media (max-width: 767px) {
    .x .c1-7y {
      padding-right: 24px
    }
  }

  @media (max-width: 767px) {
    .x .c1-8z> :nth-child(n) {
      margin-bottom: 24px
    }
  }

  @media (max-width: 767px) {
    .x .c1-90> :last-child {
      margin-bottom: 0 !important
    }
  }

  @media (max-width: 767px) {
    .x .c1-96 {
      height: calc((100vw - 48px)/1)
    }
  }

  @media (max-width: 767px) {
    .x .c1-az {
      font-size: 16px
    }
  }

  @media (max-width: 767px) {
    .x .c1-ba {
      margin-top: 0px
    }
  }

  @media (max-width: 767px) {
    .x .c1-bb {
      margin-bottom: 0px
    }
  }
</style>
<style data-glamor="cxs-sm-sheet">
  @media (min-width: 768px) {
    .x .c1-d {
      font-size: 16px
    }
  }

  @media (min-width: 768px) {
    .x .c1-12 {
      width: 100%
    }
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    .x .c1-1g {
      width: 100%
    }
  }

  @media (min-width: 768px) {
    .x .c1-25 {
      font-size: 30px
    }
  }

  @media (min-width: 768px) {
    .x .c1-2h {
      font-size: 38px
    }
  }

  @media (min-width: 768px) {
    .x .c1-2m {
      font-size: 22px
    }
  }

  @media (min-width: 768px) {
    .x .c1-3j {
      font-size: 14px
    }
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    .x .c1-4a {
      right: 0px
    }
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    .x .c1-5b dropdown {
      right: 0px
    }
  }

  @media (min-width: 768px) {
    .x .c1-5p {
      margin-top: 0
    }
  }

  @media (min-width: 768px) {
    .x .c1-5q {
      margin-right: -24px
    }
  }

  @media (min-width: 768px) {
    .x .c1-5r {
      margin-bottom: -48px
    }
  }

  @media (min-width: 768px) {
    .x .c1-5s {
      margin-left: -24px
    }
  }

  @media (min-width: 768px) {
    .x .c1-5z {
      padding-top: 0
    }
  }

  @media (min-width: 768px) {
    .x .c1-60 {
      padding-right: 24px
    }
  }

  @media (min-width: 768px) {
    .x .c1-61 {
      padding-bottom: 48px
    }
  }

  @media (min-width: 768px) {
    .x .c1-62 {
      padding-left: 24px
    }
  }

  @media (min-width: 768px) {
    .x .c1-84 {
      padding-left: 40px
    }
  }

  @media (min-width: 768px) {
    .x .c1-85 {
      padding-right: 40px
    }
  }

  @media (min-width: 768px) {
    .x .c1-86 {
      max-width: 45%
    }
  }

  @media (min-width: 768px) {
    .x .c1-8s {
      flex-basis: 50%
    }
  }

  @media (min-width: 768px) {
    .x .c1-8t {
      max-width: 50%
    }
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    .x .c1-98 {
      display: block
    }
  }

  @media (min-width: 768px) {
    .x .c1-9a {
      position: absolute
    }
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    .x .c1-9d {
      position: relative
    }
  }

  @media (min-width: 768px) {
    .x .c1-a5 {
      margin-bottom: 0
    }
  }

  @media (min-width: 768px) {
    .x .c1-a6 {
      margin-left: 8.333333333333332%
    }
  }

  @media (min-width: 768px) {
    .x .c1-a7 {
      flex-basis: 83.33333333333334%
    }
  }

  @media (min-width: 768px) {
    .x .c1-a8 {
      max-width: 83.33333333333334%
    }
  }

  @media (min-width: 768px) {
    .x .c1-a9 {
      padding-bottom: 0
    }
  }

  @media (min-width: 768px) {
    .x .c1-ad {
      flex-direction: row
    }
  }

  @media (min-width: 768px) {
    .x .c1-ae {
      margin-top: 4px
    }
  }

  @media (min-width: 768px) {
    .x .c1-af {
      margin-bottom: 4px
    }
  }

  @media (min-width: 768px) {
    .x .c1-ag {
      margin-right: 24px
    }
  }

  @media (min-width: 768px) {
    .x .c1-ah {
      height: 100%
    }
  }

  @media (min-width: 768px) {
    .x .c1-bc {
      max-width: 30%
    }
  }

  @media (min-width: 768px) {
    .x .c1-bd {
      width: auto
    }
  }
</style>
<style data-glamor="cxs-md-sheet">
  @media (min-width: 1024px) {
    .x .c1-e {
      font-size: 16px
    }
  }

  @media (min-width: 1024px) {
    .x .c1-p {
      display: block
    }
  }

  @media (min-width: 1024px) {
    .x .c1-13 {
      width: 984px
    }
  }

  @media (min-width: 1024px) {
    .x .c1-26 {
      font-size: 30px
    }
  }

  @media (min-width: 1024px) {
    .x .c1-2i {
      font-size: 38px
    }
  }

  @media (min-width: 1024px) {
    .x .c1-2n {
      font-size: 22px
    }
  }

  @media (min-width: 1024px) {
    .x .c1-3k {
      font-size: 14px
    }
  }

  @media (min-width: 1024px) and (max-width: 1279px) {
    .x .c1-49 {
      right: 0px
    }
  }

  @media (min-width: 1024px) {
    .x .c1-4k> :first-child {
      margin-left: 24px
    }
  }

  @media (min-width: 1024px) {
    .x .c1-4l {
      justify-content: inherit
    }
  }

  @media (min-width: 1024px) and (max-width: 1279px) {
    .x .c1-5a dropdown {
      right: 0px
    }
  }

  @media (min-width: 1024px) {
    .x .c1-5h {
      display: none
    }
  }

  @media (min-width: 1024px) {
    .x .c1-67> :first-child {
      margin-left: 0px
    }
  }

  @media (min-width: 1024px) {
    .x .c1-6y {
      min-width: 300px
    }
  }

  @media (min-width: 1024px) {
    .x .c1-7r {
      min-height: 60vh
    }
  }

  @media (min-width: 1024px) {
    .x .c1-7s {
      margin-top: 0px
    }
  }

  @media (min-width: 1024px) {
    .x .c1-7t {
      margin-bottom: 0px
    }
  }

  @media (min-width: 1024px) {
    .x .c1-7u {
      display: flex
    }
  }

  @media (min-width: 1024px) {
    .x .c1-7z {
      justify-content: center
    }
  }

  @media (min-width: 1024px) {
    .x .c1-80 {
      margin-left: auto
    }
  }

  @media (min-width: 1024px) {
    .x .c1-81 {
      margin-right: auto
    }
  }

  @media (min-width: 1024px) {
    .x .c1-82 {
      max-width: 100%
    }
  }

  @media (min-width: 1024px) {
    .x .c1-87 {
      width: auto
    }
  }

  @media (min-width: 1024px) {
    .x .c1-8d {
      text-align: center
    }
  }

  @media (min-width: 1024px) {
    .x .c1-8u {
      flex-basis: 33.33333333333333%
    }
  }

  @media (min-width: 1024px) {
    .x .c1-8v {
      max-width: 33.33333333333333%
    }
  }

  @media (min-width: 1024px) {
    .x .c1-9c {
      position: relative
    }
  }

  @media (min-width: 1024px) {
    .x .c1-aa {
      margin-left: 16.666666666666664%
    }
  }

  @media (min-width: 1024px) {
    .x .c1-ab {
      flex-basis: 66.66666666666666%
    }
  }

  @media (min-width: 1024px) {
    .x .c1-ac {
      max-width: 66.66666666666666%
    }
  }

  @media (min-width: 1024px) {
    .x .c1-bh {
      flex-basis: 0%
    }
  }

  @media (min-width: 1024px) {
    .x .c1-bi {
      max-width: none
    }
  }

  @media (min-width: 1024px) {
    .x .c1-bk {
      text-align: left
    }
  }

  @media (min-width: 1024px) {
    .x .c1-bq {
      text-align: right
    }
  }