nav#nav {
    margin: auto;
    width: 100%;
    background-color: rgb(245, 219, 72);
    display: grid;
    grid-template-columns: 3fr 1fr auto;
    align-items: center; /* Ensure vertical alignment */
}

nav#nav ul {
    display: flex;
    flex-direction: row;
    justify-content: left;
    justify-self: center;
    width: 60%;
    padding: 0;
}

nav#nav li {
    list-style-type: none;
    margin: auto 1rem;
}

nav#nav ul a {
    text-decoration: none;
}

nav#nav ul a:visited {
    color: black;
}

nav#nav ul a:hover {
    color: rgb(1, 71, 109);
}

nav#nav ul a:active {
    color: rgb(1, 71, 109);
}

nav#nav ul a.current {
    color: rgb(1, 71, 109);
    font-weight: bold;
}

nav#nav ul a.loggedIn {
    display: none;
}

nav#nav h1 {
    color: rgb(1, 71, 109);
    text-align: right;
    margin-right: 1rem; /* Add some spacing */
}

.nav-icon {
    text-align: right;
    margin-right: 1rem; /* Add some spacing */
    font-size: 24px; /* Adjust size as needed */
}

.nav-icon i {
    color: #333; /* Adjust color as needed */
    cursor: pointer; /* Change cursor to pointer to indicate it's clickable */
}

/* Responsive adjustments if needed */
@media (max-width: 768px) {
    nav#nav {
        grid-template-columns: 1fr auto;
    }
    
    nav#nav ul {
        width: auto;
    }

    nav#nav h1 {
        display: none; /* Hide profile text on smaller screens */
    }
}
