/* nav#nav {
    margin: auto;
    width: 100%;
    background-color: rgb(245, 219, 72);
    display: grid;
    grid-template-columns: 3fr 1fr auto;
    align-items: center;
}

nav#nav ul {
    display: flex;
    flex-direction: row;
    justify-content: left;
    justify-self: center;
    width: 60%;
    padding: 0;
}

nav#nav li {
    list-style-type: none;
    margin: auto 1rem;
}

nav#nav ul a {
    text-decoration: none;
}

nav#nav ul a:visited {
    color: black;
}

nav#nav ul a:hover {
    color: rgb(1, 71, 109);
}

nav#nav ul a:active {
    color: rgb(1, 71, 109);
}

nav#nav ul a.current {
    color: rgb(1, 71, 109);
    font-weight: bold;
}

nav#nav ul a.loggedIn {
    display: none;
}

nav#nav h1 {
    color: rgb(1, 71, 109);
    text-align: right;
    margin-right: 1rem; 
} */

.ri-user-line {
    background-color: #009970;
    color: #fff;
    font-size: 15px;
    padding: 10px 15px;
    border-radius:50px;
    text-decoration: none;
    transition: 0.3s background-color;
    cursor: pointer;
}

.ri-user-line:hover {
    background-color: #00b300;
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none;
    outline: none; 
}

.nav-link {
    color: #666777;
    font-weight: 500;
    position: relative;
}

.nav-link:hover, .nav-link:active {
    color:#000;
}

.nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #00b300;
    visibility: hidden;
    transition: 0.3s ease-in-out;
}

.nav-link:hover::before {
    
}


/* .navbar-nav .nav-link {
    text-decoration: none;
    color: inherit; 
  }
  

  .navbar-nav .nav-link:hover {
    text-decoration: none; 
    color: #007bff; 
  

  .navbar-nav .nav-item {
    margin: 0 10px;
  } */
  

/* Responsive adjustments if needed */
@media (max-width: 768px) {
    nav#nav {
        grid-template-columns: 1fr auto;
    }
    
    nav#nav ul {
        width: auto;
    }

    nav#nav h1 {
        display: none; /* Hide profile text on smaller screens */
    }
}
